$light-green: #24BA11;
$dark-green: #138400;

$light-gray: #9E9E9E;
$black: black;
$white: white;

$color-primary: $dark-green;
$color-primary-contrast: white;

$color-secondary: $light-gray;
$color-secondary-contrast: white;

$color-background: $black;
$color-background-contrast: $white;